* {
  box-sizing: border-box;
}

section {
  padding: 30px 0;
}

#banner {
  background-image: url(images/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
#banner h1 {
  font-size: 40px;
}
#banner p {
  font-size: 20px;
  color: gray;
}

#banner .name-highlight {
  color: orange;
}
img {
  width: 100%;
}
.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
}
.half-width:first-child {
  margin-top: 50px;
}

#biography {
  background-image: url(images/biography-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

#biography h2 {
  font-size: 50px;
}
#biography h3 {
  font-size: 30px;
}

#biography p {
  font-size: 20px;
  color: gray;
}

#biography .half-width:last-child {
  margin-top: 50px;
  padding-top: 50px;
}

.hire-button {
  text-decoration: none;
  background: linear-gradient(#ff4991, #ff4991);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  margin-right: 10px;
}

.resume-button {
  text-decoration: none;
  background: linear-gradient(#ffc41f, #ffc41f);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  margin-right: 10px;
}

#latest-work {
  background-image: url(images/latest-work-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

#latest-work h2 {
  text-align: center;
  font-size: 40px;
}

#latest-work img {
  padding: 5px;
  border-radius: 10px;
  background-color: white;
}
.latest-highlight {
  color: #ff4991;
}

.third-width {
  width: 25%;
  float: left;
  margin-left: 6%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px;
}

.third-width h3 {
  font-size: 25px;
  text-transform: capitalize;
  color: rgba(0, 0, 128, 0.753);
}

.third-width p {
  font-size: 18px;
  color: gray;
}

#work-inquiry {
  background-image: linear-gradient(
    90deg,
    #372fce 0%,
    #2323d6 35%,
    #003cff 100%
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  width: 65%;
  height: 150px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

#work-inquiry h2 {
  font-size: 40px;
  color: white;
  margin-left: 30px;
}

.lets-button {
  background-color: #ea5858;
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 20px;
  margin-right: 30px;
  border-radius: 5px;
}
